
# Pyc/pyo files.
*.py[co|~]


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Editor files
*~

# Installer logs
pip-log.txt

#sphinx
Makefile
make.bat
doctrees

